<!DOCTYPE html>
<html xlmn:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head ('Homepage')}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Homepage</title>
</head>

<body>

    <header>
        <nav th:replace="~{fragments/navbar :: navbar ('Spring Pizzeria Crud')}">
            </head>
    </header>

    <main class="container">
        <section class="title row">
            <div class="col-12">

                <h1 class="text-center mt-5">
                    Welcome to the Spring Pizzeria!
                </h1>

            </div>
        </section>

    </main>


</body>

</html>